1 24 "cmdtab.manifest"

1 VERSIONINFO
	FILEVERSION	1,6,0,0
	PRODUCTVERSION	1,6,0,0
	FILEFLAGSMASK	0x3FL
	#ifdef _DEBUG
	FILEFLAGS		0x1L
	#else
	FILEFLAGS		0x0L
	#endif
	FILEOS			0x40004L
	FILETYPE		0x1L
	FILESUBTYPE		0x0L
	{
		BLOCK "VarFileInfo"
		{
			VALUE "Translation", 0x409, 1252
		}
		BLOCK "StringFileInfo"
		{
			BLOCK "040904E4"
			{
				VALUE "Comments",		"N/A"
				VALUE "CompanyName",		"Stian Gudmundsen Høiland"
				VALUE "FileDescription",	"cmdtab Window Switcher Alternative"
				VALUE "FileVersion",		"1.6"
				VALUE "InternalName",		"cmdtab"
				VALUE "LegalCopyright",		"Copyright (C) 2023 Stian Gudmundsen Høiland"
				VALUE "LegalTrademarks",	"N/A"
				VALUE "OriginalFilename",	"cmdtab.exe"
				VALUE "PrivateBuild",		"N/A"
				VALUE "ProductName",		"cmdtab"
				VALUE "ProductVersion",		"1.6"
				VALUE "SpecialBuild",		"N/A"
			}
		}
	}

2 ICON "cmdtab.ico"
